body {
  background-color: #f8e8a6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  text-align: center;
  padding: 10px;
  margin: 5px;
}
a {
  color: #7cb453;
}
p {
  text-align: center;
  display: block;
  padding: 10px;
  margin: 5px;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 20px;
}
.photo-croissant {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
